window {
    background: #282a36;
}

box {
    background: #282a36;
}

treeview {
    background: #282a36;
    color: #f8f8f2;
}

treeview:first-child {
    background: #44475a;
}

entry {
    background: #44475a;
    border-style: none;
    color: #f8f8f2;
}